div#divAddDoc.mdl-layout.mdl-js-layout.mdl-color--grey-100.hidden
    main.mdl-layout__content
        form(action="#", name="form-edit-properties")
            div.mdl-grid
                div.mdl-card.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet.mdl-shadow--2dp
                    div.mdl-card__menu
                        button#mdlAddClose.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                            i.material-icons close
                    div.mdl-card__title
                        h1.mdl-card__title-text Add document
                    div.mdl-card__supporting-text#divFormInput
                    div.mdl-card__actions.mdl-card--border
                        button(type="submit").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Submit
