div#divAuth.mdl-layout.mdl-js-layout.mdl-color--grey-100.hidden
    main.mdl-layout__content
        form(action="#", name="form-user-authentification")#formAuth
            div.mdl-grid
                div.mdl-card.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet.mdl-shadow--2dp
                    div.mdl-card__menu
                        button#mdlAuthClose.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                            i.material-icons close
                    div.mdl-card__title
                        h1.mdl-card__title-text Connexion
                    div.mdl-card__supporting-text
                        div.mdl-textfield.mdl-js-textfield
                            input.mdl-textfield__input(type="text", name="userkuzzlename")#userkuzzlename
                            label.mdl-textfield__label(for="userkuzzlename") Username
                        div.mdl-textfield.mdl-js-textfield
                            input.mdl-textfield__input(type="password", name="userkuzzlepass")#userkuzzlepass
                            label.mdl-textfield__label(for="userkuzzlepass") Password

                    div.mdl-card__actions.mdl-card--border
                        button(type="submit").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Log in