div#divExport.mdl-layout.mdl-js-layout.mdl-color--grey-100.hidden
    main.mdl-layout__content
        div.mdl-grid
            div.mdl-card.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet.mdl-shadow--2dp
                div.mdl-card__menu
                    button#mdlExportClose.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                        i.material-icons close
                div.mdl-card__title
                    h1.mdl-card__title-text Export
                div.mdl-card__supporting-text
                    | This feature is in progress and not yet finished.
                    | Select the type of export you need for the layer "
                    span#exportNameLayer
                    | "
                div
                    div.mdl-grid
                        div.mdl-cell.mdl-cell--12-col
                            ul.mdl-list
                                li.mdl-list__item
                                    span.mdl-list__item-primary-content
                                        i.material-icons.mdl-list__item-icon layers
                                        | GeoJSON
                                    span.mdl-list__item-secondary-action
                                        label.inline-list-radio.mdl-checkbox.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="exportGeoJson")
                                            input(type="radio", name="export", value="geojson", disabled)#exportGeoJson.mdl-radio__button
                                li.mdl-list__item
                                    span.mdl-list__item-primary-content
                                        i.material-icons.mdl-list__item-icon layers
                                        | CSV
                                    span.mdl-list__item-secondary-action
                                        label.inline-list-radio.mdl-checkbox.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="exportCsv")
                                            input(type="radio", name="export", value="csv", disabled)#exportCsv.mdl-radio__button
                                li.mdl-list__item
                                    span.mdl-list__item-primary-content
                                        i.material-icons.mdl-list__item-icon layers
                                        | GML
                                    span.mdl-list__item-secondary-action
                                        label.inline-list-radio.mdl-checkbox.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="exportGml")
                                            input(type="radio", name="export", value="gml", disabled)#exportGml.mdl-radio__button
                                li.mdl-list__item
                                    span.mdl-list__item-primary-content
                                        i.material-icons.mdl-list__item-icon layers
                                        | MapInfo
                                    span.mdl-list__item-secondary-action
                                        label.inline-list-radio.mdl-checkbox.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="exportMapInfo")
                                            input(type="radio", name="export", value="mapinfo", disabled)#exportMapInfo.mdl-radio__button
                                li.mdl-list__item
                                    span.mdl-list__item-primary-content
                                        i.material-icons.mdl-list__item-icon layers
                                        | Shapefile
                                    span.mdl-list__item-secondary-action
                                        label.inline-list-radio.mdl-checkbox.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="exportShapeFile")
                                            input(type="radio", name="export", value="shapefile", disabled)#exportShapeFile.mdl-radio__button
                div.mdl-card__actions.mdl-card--border
                    a#linkExport(type="button", href="", disabled="disabled", target="_blank").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.disabled Export