head
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    // Material Design Lite
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.1.3/material.green-light_green.min.css")
    link(rel"stylesheet", href="/dialog-polyfill/dialog-polyfill.css")
    // Openlayers
    link(href='/openlayers/css/ol.css', rel='stylesheet')
    // Node modules
    link(href='/jsoneditor/dist/jsoneditor.min.css', rel="stylesheet")
    //Application
    link(href='/css/ol3-drawcontrols.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')