nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') Kurtography : webmapping by Kuzzle
        div#bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/login", disabled) Log in
                li
                    a(href="/register", disabled) Register
                li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Export
                        span.caret
                    ul.dropdown-menu
                        li
                            a.export(href="/export", data-type='geojson', disabled) GeoJSON
                        li
                            a.export(href="/export", data-type='csv', disabled) CSV
                        li
                            a.export(href="/export", data-type='gml', disabled) GML
                        li
                            a.export(href="/export", data-type='mapinfo', disabled) MapInfo
                        li
                            a.export(href="/export", data-type='shape', disabled) Shapefile
            form.navbar-form.navbar-right(name='formSearch', role='search')
                .form-group
                    input.form-control(type='text', name="search", placeholder='Search')