header#navbar.mdl-layout__header.mdl-layout__header--transparent
    div.mdl-layout__header-row
        span.mdl-layout-title Kurtography Bêta
        div.mdl-layout-spacer
        form(action="#")
            div.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
                label.mdl-button.mdl-js-button.mdl-button--icon(for="kuzzleSearch")
                    i.material-icons search
                div.mdl-textfield__expandable-holder
                    input.mdl-textfield__input#kuzzleSearch(type="text")
                    label.mdl-textfield__label(for="kuzzleSearch") Expandable Input

        button#BtnNotificationUser.notification-navbar.mdl-button.mdl-js-button.mdl-button--icon.hidden
            i.material-icons notifications_none
        span#NotificationUser.notification-navbar.mdl-badge.hidden

        button#demo-menu-lower-right.mdl-button.mdl-js-button.mdl-button--icon
            i.material-icons more_vert

        // Menu listant les notification reçus
        ul#listNotificationUser.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect.hidden(for="BtnNotificationUser")

        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="demo-menu-lower-right")
            li.mdl-menu__item
                a.mdl-navigation__link(data-link="auth", href="#auth")
                    i.material-icons flag
                    | Log in
            li.mdl-menu__item.mdl-menu__item--full-bleed-divider
                a.mdl-navigation__link(data-link="register", href="#register")
                    i.material-icons person_add
                    | Sign up
            li.mdl-menu__item(disabled="disabled")
                a.mdl-navigation__link(data-link="logout", href="#logout")
                    i.material-icons exit_to_app
                    | Log out
