div#divRegister.mdl-layout.mdl-js-layout.mdl-color--grey-100.hidden
    main.mdl-layout__content
        form(action="#", name="form-user-register")#formRegister
            div.mdl-grid
                div.mdl-card.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet.mdl-shadow--2dp
                    div.mdl-card__menu
                        button#mdlRegisterClose.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                            i.material-icons close
                    div.mdl-card__title
                        h1.mdl-card__title-text Register
                    div.mdl-card__supporting-text
                        div.mdl-textfield.mdl-js-textfield
                            input.mdl-textfield__input#newUsername(type="text")
                            label.mdl-textfield__label(for="newUsername") Username
                        div.mdl-textfield.mdl-js-textfield
                            input.mdl-textfield__input#newUserEmail(type="text")
                            label.mdl-textfield__label(for="newUserEmail") Email
                        div.mdl-textfield.mdl-js-textfield
                            input.mdl-textfield__input(type="password")#newUserPass
                            label.mdl-textfield__label(for="newUserPass") Password
                    div.mdl-card__actions.mdl-card--border
                        button(type="submit").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Sign up