div.mdl-layout__drawer
    span.mdl-layout-title.headSidebar Kurtography

    // Layer switcher
    include switcherlayer

    // Subscribe zone
    hr.style-two
    include subscribeZone

    hr.style-two
    p Welcome on kurtography, a realtime geodata application