div.panel.panel-default#mainRoom
    div.panel-heading
        h4.panel-title
            a(data-toggle="collapse", href="#editzone")
                i.fa.fa-list-alt  Subscribe room
    div.my-group#subscribeZone