doctype html
html(lang="fr")
    include components/header
    body
        // Dialog
        dialog.mdl-dialog
            h4.mdl-dialog__title Add document
            div.mdl-dialog__content
                form(name="form-edit-properties")
            div.mdl-dialog__actions
                button(type="button")#editForm.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored Edit
                button(type="button").mdl-button.close Close

        // Content
        block content

        // cards connexion / register
        include components/authentification

        // http://codepen.io/tutsplus/pen/RWwypM
        include components/informations

        // Javascript scripts
        script(src='https://code.getmdl.io/1.1.3/material.min.js')
        script(src='/dialog-polyfill/dialog-polyfill.js')
        script(src='/js/bundle.js')
