doctype html
html(lang="fr")
    include components/header
    body
        block content
        script(src='http://code.jquery.com/jquery-2.2.3.min.js')
        script(src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js", integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE=", crossorigin="anonymous")
        script(src='/bootstrap/dist/js/bootstrap.min.js')
        script(src='/js/bundle.js')