doctype html
html(lang="fr")
    include header
    body
        div#container
            include navbar
        block content
        script(src='http://code.jquery.com/jquery-2.2.3.min.js')
        script(src='/bootstrap/dist/js/bootstrap.min.js')
        script(src='/js/bundle.js')