extend layout

block content
    // Content
    div#map

    div.row.main-row
        div.col-sm-4.col-md-3.sidebar.sidebar-left.pull-left
            div.panel-group.sidebar-body#accordion-left
                include switcherlayer
                include properties

    div.mini-submenu.mini-submenu-right.pull-right
        i.fa.fa-list-alt