extend layout

block content
    // Content
    div.container-fluid
        div.row
            // Map
            div.col-xs-12.col-sm-12.col-lg-12.map.no-gutter
                div#custom-mouse-position
                div#map
        div#popup.ol-popup(title="Informations")
        //div#popup2.ol-popup(title="Informations")
        //    ul.nav.nav-tabs
        //        li.active
        //            a(data-toggle="tab", href="#menu1") Properties
        //        li
        //            a(data-toggle="tab" href="#menu2") Geometry
        //    div.tab-content
        //        div#menu1.tab-pane.fade.in.active
        //            table#tabProperties.table.table-striped
        //        div#menu2.tab-pane.fade
        //            table#tabGeometry.table.table-striped