extend layout

block content
    // Content
    div.alert.alert-success#alertKuzzle(role="alert")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
        span.glyphicon.glyphicon-send(aria-hidden="true") &nbsp;
        span#messageKuzzle

    div#map

    div.row.main-row
        div.col-sm-3.col-md-2.sidebar.sidebar-right.pull-right
            div.panel-group.sidebar-body#accordion-right
                include switcherlayer
                include properties

    div.mini-submenu.mini-submenu-right.pull-right
        i.fa.fa-list-alt