extend layout

block content
    // Content
    div.container-fluid
        div.row
            // Map
            div.col-xs-12.col-sm-12.col-lg-12.map.no-gutter
                div#custom-mouse-position
                div#map