extend layout

block content
    // Content
    div.alert.alert-success#alertSuccessKuzzle(role="alert")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
        span.glyphicon.glyphicon-send(aria-hidden="true") &nbsp;
        span#msgSuccessKuzzle
    div.alert.alert-warning#alertWarningKuzzle(role="alert")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
        span.glyphicon.glyphicon-send(aria-hidden="true") &nbsp;
        span#msgWarnKuzzle
    div.alert.alert-danger#alertDangerKuzzle(role="alert")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
        span.glyphicon.glyphicon-send(aria-hidden="true") &nbsp;
        span#msgDangerKuzzle

    div.row
        div.col-xs-8.col-sm-9.col-md-9.col-lg-10.no-padding-right#map
        div.col-xs-4.col-sm-3.col-md-3.col-lg-2.no-padding-left
            div.row.main-row
                div.col-xs-12.col-sm-12.col-md-12.col-lg-12.sidebar.sidebar-right.pull-right
                    div.panel-group.sidebar-body#accordion-right
                        include switcherlayer
                        include properties

    //div.mini-submenu.mini-submenu-right.pull-right
    //    i.fa.fa-list-alt