extend layout

block content
    // Content
    div.container-fluid
        div.row
            // Aside
            aside.col-xs-2.col-sm-2.col-lg-2
                div.row
                    div#tabInformations.col-xs-12.col-md-12.col-lg-12.aside.hidden
                        div.table-responsive
                            input#guid(type="hidden", name="guid")
                            table.table.table-striped(data-id='infos-cat')
                                tr(data-id='name')
                                    th.col-md-2 Nom
                                    th
                                tr(data-id='age')
                                    td.col-md-2 Age
                                    td
                                tr(data-id='genre')
                                    td.col-md-2 Genre
                                    td
                                tr(data-id='tatouage')
                                    td.col-md-2 Tatouage
                                    td
                                tr(date-id='puce')
                                    td.col-md-2 Puce
                                    td
                                tr(data-id='race')
                                    td.col-md-2 Race
                                    td
                                tr(data-id='colors')
                                    td.col-md-2 Couleurs
                                    td
                                tr(data-id='weight')
                                    td.col-md-2 Poids
                                    td
                        p(data-id="other")

                    div#tabAddCat.col-xs-12.col-md-12.col-lg-12.aside.hidden
                        form.form(name='formAddCat', method='POST', action='/add-a-cat')
                            .form-group
                                label.sr-only(for='name') Name
                                input#name.form-control(type='text', placeholder='Ex: Bazoo, Lazer...', disabled='', required='')
                            .form-group
                                label.sr-only(for='age') Age
                                input#age.form-control(type='text', placeholder='Ex: 4', disabled='')
                            .form-group
                                label.radio-inline
                                    input#genre1(type='radio', name='genre', value='male', disabled='')
                                    |  Male
                                label.radio-inline
                                    input#genre2(type='radio', name='genre', value='female', disabled='')
                                    |  Female
                            .form-group
                                label.sr-only(for='tattoo') Tattoo
                                input#tattoo.form-control(type='text', placeholder='Tattoo...', disabled='')
                            .form-group
                                label.radio-inline
                                    input#puce1(type='radio', name='puce', value='oui', disabled='')
                                    |  Oui
                                label.radio-inline
                                    input#puce2(type='radio', name='puce', value='non', disabled='')
                                    |  Non
                            .form-group
                                label.sr-only(for='race') Race
                                input#race.form-control(type='text', placeholder='Ex : main coon, persan...', disabled='')
                            .form-group
                                label.sr-only(for='colors') Color
                                input#colors.form-control(type='text', placeholder='Ex : black...', disabled='', required='')
                            .form-group
                                label.sr-only(for='weight') Weight
                                input#weight.form-control(type='text', placeholder='Ex : 4 kg...', disabled='')
                            .form-group
                                label.control-label(for='other') Autres
                                textarea#other.form-control(name='other', rows='3', disabled='', placeholder='Signes disctinctifs...')
                            .form-group
                                button.btn.btn-warning(type='submit', disabled='') Submit

            // Map
            div.col-xs-10.col-sm-10.col-lg-10.map.no-gutter
                div#map