div.panel.panel-default#mainLayer
    div.panel-heading
        h4.panel-title
            a(data-toggle="collapse", href="#layers")
                i.fa.fa-list-alt  Layers
            span.pull-right.slide-submenu
                i.fa.fa-chevron-left
    div#layers.panel-collapse.collapse.in