html, body, .container-fluid, .row, .map { height: 100% }
body { overflow: hidden; padding-top: 50px; }
.map { padding: 0px; margin: 0px;}
#map {
    position: absolute;
    width:100%;
    height: 100%;
    height:calc(100% - 0px);
}
#map .ol-zoom {
    left: 0.4em;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.46);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;
    /*position: relative;*/
    width: 42px;
    text-align: center;
}

.ol-control button.ol-zoom-in, button.ol-zoom-out {
    display: block;
    color: #000000;
    height: 1.375em;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1.14em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    width: 1.2em;
}

.ol-control button.ol-zoom-in:hover, button.ol-zoom-out:hover,
            button.ol-zoom-in:focus, button.ol-zoom-out:focus
{
    background-color: rgba(255, 255, 255, 0);
}

.zoom-top-opened-sidebar { margin-top: 5px; }
.zoom-top-collapsed { margin-top: 45px; }


/*!* remove spacing between middle columns *!*/
/*.row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {*/
    /*padding-right:0;*/
    /*padding-left:0;*/
/*}*/
/*!* remove right padding from first column *!*/
/*.row.no-gutter [class*='col-']:first-child {*/
    /*padding-right:0;*/
/*}*/
/*!* remove left padding from first column *!*/
/*.row.no-gutter [class*='col-']:last-child {*/
    /*padding-left:0;*/
/*}*/

.mini-submenu{
    display:block;
    background-color: rgba(255, 255, 255, 0.46);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;
    /*position: relative;*/
    width: 42px;
    text-align: center;
}

.mini-submenu-left {
    position: absolute;
    top: 60px;
    left: .5em;
    z-index: 40;
}

#map { z-index: 35; }

.sidebar { z-index: 45; }

.main-row { position: relative; top: 0; }

.mini-submenu:hover{
    cursor: pointer;
}

.slide-submenu{
    background: rgba(0, 0, 0, 0.45);
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}

#mainProperties{
    display: none;
}

/** ****************************************/
.ol-mouse-position{
    background: rgba(0, 60, 136, 0.5);
    opacity:0.6;
    color: #FFFFFF;
}
/** ****************************************/
/* == Surcharge de ol3-drawcontrols.css == */
/** ****************************************/
#map .toggle-control {
    background-color: rgba(255, 255, 255, 0.46);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 0px;
    /*position: relative;*/
    text-align: center;
}

.toggle-control button.ol3-drawButtons {
    background-color: rgba(255, 255, 255, 0);
}

.toggle-control button.ol3-drawButtons.progress:disabled {
    text-decoration: none;
    background-color: rgba(44, 128, 27, 0.75);
}

.toggle-control button.ol3-drawButtons:disabled {
    text-decoration: none;
    background-color: rgba(244, 35, 36, 0.75);
}