html, body, .container-fluid, .row, .map { height: 100% }
body { overflow: hidden; padding-top: 50px; }
.alert { margin-bottom: 0px; display: none; }
.map { padding: 0px; margin: 0px;}
#map {
    height: 100%;
    height:calc(100% - 0px);
}
.no-padding-left{ padding-left : 0px;}
.no-padding-right{ padding-right: 0px;}
#map .ol-zoom {
    top: 0.5em;
    left: 0.4em;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.46);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;
    /*position: relative;*/
    width: 40px;
    text-align: center;
}

.ol-control button.ol-zoom-in, button.ol-zoom-out {
    display: block;
    color: #000000;
    height: 1.375em;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1.14em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    width: 1.2em;
}

.ol-control button.ol-zoom-in:hover, button.ol-zoom-out:hover,
            button.ol-zoom-in:focus, button.ol-zoom-out:focus
{
    background-color: rgba(255, 255, 255, 0);
}

.zoom-top-opened-sidebar { margin-top: 5px; }

.ol-mouse-position{
    top: auto;
    bottom: 0.5em;
    background-color: rgba(255, 255, 255, 0.46);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    color: #000000;
    padding: 0.5em;
}

.ol-scale-line {
    background-color: rgba(255, 255, 255, 0.46);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    top: auto;
    left: 0.4em;
    padding: 0.5em;
    /*position: absolute;*/
}
.ol-scale-line-inner {
    color: #000000;
}

.mini-submenu{
    display:block;
    background-color: rgba(255, 255, 255, 0.46);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;
    /*position: relative;*/
    width: 42px;
    text-align: center;
    right: .5em;
}

.mini-submenu-right {
    position: absolute;
    top: 60px;
    right: .5em;
    z-index: 40;
}

#map { z-index: 35; }
.sidebar { z-index: 45; }
.main-row { position: relative; top: 0; }

.mini-submenu:hover{ cursor: pointer; }

.slide-submenu{
    background: rgba(0, 0, 0, 0.45);
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}

#mainProperties, #mainRoom{display: none;}
#layers > .panel-body {    padding: 0px;}
.rangeZone { width: 60%; float: right;}
.toggle.btn{ float: right; }
.toggle.android { border-radius: 0px;}
.toggle.android .toggle-handle { border-radius: 0px; }
#jsoneditor{height: 400px;}
.properties-edit { display: none; }

/** Autocomplete **/
.ui-autocomplete {
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    cursor: pointer;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all .ui-state-active {
    color: #ffffff;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

/*.my-group .form-control{*/
    /*width:50%;*/
/*}*/
/*#zoneUnit{*/
    /*width: 30%;*/
/*}*/
/*#zoneRadius{*/
    /*width: 70%;*/
/*}*/