extends ../layout-ui

block content
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
        //Sidebar
        include ../components/sidebar
        //Header
        include ../components/navbar

        //Content
        main.mdl-layout__content#map

        // Test
        div#external_draw_control
            div#panelDrawControl

        // External zoom buttons
        div#external_control_zoom
            div#panel


        // snackbar
        div(aria-live="assertive", aria-atomic="true", aria-relevant="text").mdl-snackbar.mdl-js-snackbar
            div.mdl-snackbar__text
            button(type="button").mdl-snackbar__action