extends ../layout-ui

block content
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
        //Header
        include ../components/navbar

        //Sidebar
        include ../components/sidebar

        //Content
        main.mdl-layout__content#map

        // http://codepen.io/tutsplus/pen/RWwypM
        div#infoKdoc.mdl-layout.mdl-js-layout.mdl-color--grey-100.hidden
            main.mdl-layout__content
                div.mdl-grid
                    div.mdl-card.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet.mdl-shadow--2dp
                        div.mdl-card__menu
                            button#mdlClose.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                                i.material-icons close
                        figure.mdl-card__media
                            img#imgKdoc(src="http://tfirdaus.github.io/mdl/images/laptop.jpg", alt="")
                        div.mdl-card__title
                            h1.mdl-card__title-text#nameKdoc
                        div.mdl-card__supporting-text
                            p#descriptionKdoc
                            table.mdl-data-table.mdl-js-data-table#tabFGeometry
                        div.mdl-card__actions.mdl-card--border
                            div.mdl-layout-spacer
                                span#dateKdoc

                            // TODO : si user connecté : inscription à cet item
                            //button(type="button").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Edit
                            //button(type="button").mdl-button.close Close
                            button.mdl-button.mdl-button--iconmdl-button--colored
                                i.material-icons exposure_plus_1
                            button#share-post-1.mdl-button.mdl-button--icon.mdl-button--colored
                                i.material-icons share
                            ul.mdl-menu.mdl-menu--top-right.mdl-js-menu(for="share-post-1")
                                li.mdl-menu__item Facebook
                                li.mdl-menu__item Twitter
                                li.mdl-menu__item Pinterest


        // External zoom buttons
        div#external_control_zoom
            div#panel

        // snackbar
        div(aria-live="assertive", aria-atomic="true", aria-relevant="text").mdl-snackbar.mdl-js-snackbar
            div.mdl-snackbar__text
            button(type="button").mdl-snackbar__action