extend ../layout-ui

block content
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
        //Header
        include ../components/navbar

        //Sidebar
        include ../components/sidebar

        //Content
        main.mdl-layout__content#map