div.mdl-layout__drawer
    header#sidebar.mdl-layout__header
        div.mdl-layout__header-row
            // Logo

    //span.mdl-layout-title.headSidebar Kurtography
    // Layer switcher
    include ../components/switcherlayer

    // Subscribe zone
    hr.style-two
    include ../components/subscribeZone